@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
}

nav img {
    position: absolute;
    width: 160px;
    height: 36.02px;
    left: 60px;
    top: 60px;
}

main>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 91px;
    margin: 93px auto 0;
    gap: 24px;
    width: 560px;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(157, 157, 157, 0.12);
    border-radius: 15px;
}

h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #212121;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

.header-logo {
    position: relative;
    width: 50px;
    height: 48px;
    margin-bottom: 8px;
}

.header-logo div {
    width: 11px;
    position: absolute;
    background: #3766E8;
    border-radius: 100px;
    transform: matrix(0.86, -0.52, 0.51, 0.86, 0, 0);
}

.logo-1 {
    height: 27px;
    top: 24px;
}

.logo-2 {
    height: 42px;
    top: 8px;
    left: 16px;
}

.logo-3 {
    height: 21px;
    top: 5px;
    left: 30px;
}


header p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #545454;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;
}

.input {
    width: 100%;
}

.input label {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #545454;
    margin-bottom: 8px;
}

input {
    background: #FFFFFF;
    border: 1px solid #CED4DA;
    border-radius: 6px;
    padding: 10px 12px;
    display: block;
    width: 100%;
}

select {
    background: #FFFFFF;
    border: 1px solid #CED4DA;
    border-radius: 6px;
    padding: 10px 12px;
    display: block;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    padding-right: 24px;
}

.btn-group {
    display: flex;
    gap: 8px;
}

.btn-group button {
    padding: 4px 8px;
    background: #F0F0F0;
    border-radius: 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #545454;
    border: 0;
}

button.active {
    background: #3766E8;
    color: #FFFFFF;
}

button.submit {
    width: 100%;
    padding: 10px 40px;
    background: #3766E8;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin: 24px 0 40px;
}

footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #545454;
    text-align: center;
    margin: 100px auto 20px;
}